.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 2px 1px -1px #f8b8d4;
}

.navLeft {
	display: flex;
	align-items: center;
}

.navbarText {
	margin-left: 10px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(111, 119, 135);
}

.navCenter {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.navLink {
	margin: 0 15px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: rgb(111, 119, 135);
	transition: color 0.3s;
}

.navLink:hover {
	color: #f8b8d4;
}

.navRight {
	display: flex;
	align-items: center;
}

.navButton {
	margin: 0 10px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	padding: 8px 16px;
	border: none;
	border-radius: 50px;
	background-color: #f8b8d4;
	transition: background-color 0.3s;
}

.navButton:hover {
	background-color: #64d4ec;
}

.mainText {
	position: absolute;
	top: 250px;
	left: 120px;
	width: 637px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 56px;
	line-height: 78px;
	font-weight: 700;
	color: #f8b8d4;
}

.subText {
	position: absolute;
	top: 430px;
	left: 120px;
	width: 552px;
	font-family: Pixelify Sans, sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: rgb(111, 119, 135);
}

.emailInput {
	position: absolute;
	top: 514px;
	left: 120px;
	width: 484px;
	height: 64px;
	padding-left: 50px;
	background: rgb(243, 244, 246);
	border-radius: 50px;
	border-style: none;
}

.emailInput::placeholder {
	color: #f8b8d4;
	font-family: "Pixelify Sans", sans-serif;
	opacity: 0.5;
}

.emailIcon {
	position: relative;
	top: 450px;
	left: 140px;
	z-index: 1;
	opacity: 0.5;
}

.emailButton {
	position: absolute;
	top: 525px;
	left: 510px;
	height: 44px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	background: #f8b8d4;
	opacity: 1;
	border: none;
	border-radius: 50px;
}

.emailButton:hover {
	color: #fff;
	background: #64d4ec;
}

.emailButton:hover:active {
	color: #fff;
	background: #f8b8d4;
}

.emailButton:disabled {
	opacity: 0.4;
}

.homepageImage {
	position: absolute;
	top: 150px;
	left: 835px;
	width: 485px;
	height: 491px;
	border-radius: 0px;
}
